<app-header />
<main>
  <ul id="users">
    <!-- Only use @for on v17+ -->
    <!-- Otherwise you should use the *ngFor directive, and import it from @angular/common -->
    <!--
      <li *ngFor="let user of users">
        <app-user
          [user]="user"
          (select)="handleSelectedUser($event)"
        />
      </li>
    -->

    @for (user of users; track user.id) {
      <li>
        <app-user
          [selected]="user.id === selectedUser?.id"
          [user]="user"
          (select)="handleSelectedUser($event)"
        />
      </li>
    }
  </ul>

  <!-- Only use @if on v17+ -->
  <!-- Otherwise you should use the *ngIf directive, and import it from @angular/common -->
  <!--
    <app-tasks *ngIf="!!selectedUser else fallback" [userName]="selectedUser.name" />
    <ng-template #fallback>
      <h2>Select a user to see their task</h2>
    </ng-template>
  -->

  @if (!!selectedUser) {
    <app-tasks [userName]="selectedUser.name" [userId]="selectedUser.id" />
  } @else {
    <h2>Select a user to see their tasks</h2>
  }


</main>
